<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770608014197-k8pa186qqcd1a4egu1vqgjr4fitavfa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770608014197-k8pa186qqcd1a4egu1vqgjr4fitavfa6</string>
	<key>API_KEY</key>
	<string>AIzaSyBo6LfXUGZT4TZiJQUdABCksuF6NX7fmAU</string>
	<key>GCM_SENDER_ID</key>
	<string>770608014197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.lazz.app</string>
	<key>PROJECT_ID</key>
	<string>stack-push-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>stack-push-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770608014197:ios:a8c8bde75a273de3</string>
	<key>DATABASE_URL</key>
	<string>https://stack-push-notifications.firebaseio.com</string>
</dict>
</plist>